@font-face {
  font-family: "iconfont"; /* Project id 2698801 */
  src: url('//at.alicdn.com/t/font_2698801_kr4lzxfeh7g.woff2?t=1627278322431') format('woff2'),
       url('//at.alicdn.com/t/font_2698801_kr4lzxfeh7g.woff?t=1627278322431') format('woff'),
       url('//at.alicdn.com/t/font_2698801_kr4lzxfeh7g.ttf?t=1627278322431') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
  content: "\e952";
}

.icon-bilibili1:before {
  content: "\e653";
}
