@font-face {
  font-family: "iconfont"; /* Project id 2698801 */
  src: url('//at.alicdn.com/t/font_2698801_lg0o606r6oe.woff2?t=1627289663449') format('woff2'),
       url('//at.alicdn.com/t/font_2698801_lg0o606r6oe.woff?t=1627289663449') format('woff'),
       url('//at.alicdn.com/t/font_2698801_lg0o606r6oe.ttf?t=1627289663449') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e7ab";
}

.icon-27shijianxian:before {
  content: "\e674";
}

.icon-gift:before {
  content: "\e952";
}
