/* 风车 */
.fa-fan{
    color: #D4646B;
}

.fa-paper-plane{
    color: #64B5F6;
}

.fa-train{
    color: #66BB6A;
}

/* 分类 */
.fa-folder-open{
color: #FEBB41;
}

.fa-tags{
color: #0288D1;
}

.fa-archive{
color: #BF360C;
}

.fa-link{
color: #64B5F6;
}

.fa-info-circle{
color: #FB9B5E;
}

.fa-comment-dots{
color: #26A69A;
}

.fa-moon{
color: #EEDD68;
}

.fa-calendar-alt{
color: #4A8FA1;
}

.fa-edit{
color: #00897B;
}

.fa-eye{
color: #424242;
}

.fa-hashtag{
color: #64B5F6;
}

.fa-comments{
color: #0277BD;
}

.fa-envelope{
color: #D7CCC8;
}

.fa-github{
color: #263238;
}

.fa-list{
color: #0097A7;
}

.fa-keyboard{
color: #D4646B;
}

.fa-hourglass-half{
color: #5EA8C1;
}

.fa-award{
color: #e66554;
}

.fa-search{
    color: #FBC02D;
}

.fa-map-signs{
    color: #29b3b3;
}

.fa-compact-disc{
    color: #CE93D8;
}

.fa-bullhorn{
    color: #EF5350;
}

.icon-bilibili1{
    color: #e76a8d;
}

.icon-gift{
    color: #D32F2F;
}

.cover-wrapper .cover-body .m_search .fa-search,
.l_header .m_search .fa-search{
    color: #FBC02D !important;
}