/* .article-title a{
    background: linear-gradient(to bottom, transparent 60%, #74d4c0 0) no-repeat;
} */

#live2d-widget #live2dcanvas{
    left: 30px !important;
}

/* .aplayer .aplayer-icon-back, .aplayer .aplayer-icon-forward, .aplayer .aplayer-icon-lrc, .aplayer .aplayer-icon-order, .aplayer .aplayer-icon-play{
    display: inline !important;
} */